@font-face {
    font-family: 'Bunday Sans';
    font-weight: 400;
    src: url("/assets/fonts/BundaySans-Regular.woff2") format("woff2"),
        url("/assets/fonts/BundaySans-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Bunday Sans';
    font-weight: 600;
    src: url("/assets/fonts/BundaySans-SemiBold.woff2") format("woff2"),
        url("/assets/fonts/BundaySans-SemiBold.woff") format("woff");
}

@font-face {
    font-family: 'Bunday Sans';
    font-weight: 800;
    src: url("/assets/fonts/BundaySans-Bold.woff2") format("woff2"),
        url("/assets/fonts/BundaySans-Bold.woff") format("woff");
}